<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>958132305203-cqib5j8gs2mk8i4h6v60rqts194itcft.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.958132305203-cqib5j8gs2mk8i4h6v60rqts194itcft</string>
	<key>API_KEY</key>
	<string>AIzaSyC2edZUQG_CP5ivanQ-z9b1OhfobhQ8Zkc</string>
	<key>GCM_SENDER_ID</key>
	<string>958132305203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.deuxChat.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>deux-app</string>
	<key>STORAGE_BUCKET</key>
	<string>deux-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958132305203:ios:d64f3d1a9d18a9400d9246</string>
</dict>
</plist>